*{
    padding: 0px;
    margin:0px;
    border:0px;
}
@keyframes html {
    100%{opacity: 1;}
}
html{opacity: 0;
animation: html 2s 0.5s forwards;}
body{
    transition: 1s;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.644);
    
}
.bol{display: flex;
    width: 355px;
    height: 355px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 999px;
    position: absolute;
    top: 454px;
    z-index: 10;
    animation: bol 10s 1s;
      animation-iteration-count: 1;
    animation-iteration-count: infinite;
    transition: 2s;
    margin-left: 430px;
}
@keyframes bol{
    10%{box-shadow: 0px 0px 100px 10px rgb(247, 251, 252);}
    30%{box-shadow: 0px 0px 100px 40px rgb(255, 255, 253);}
    60%{box-shadow: 0px 0px 100px 40px rgb(254, 255, 249);}
}
@keyframes header {
    100%{height: 50px;transition: 1s;}
}
@keyframes nav {
    100%{margin-top: 10px;}
}
.h{animation: nav 1s 2s forwards;}
.m{animation: nav 1s 2.2s forwards;}
.e{animation: nav 1s 2.4s forwards;}
.f{animation: nav 1s 2.6s forwards;}
.s{animation: nav 1s 2.8s forwards;}
.a{animation: nav 1s 3s forwards;}
.c{animation: nav 1s 3.2s forwards;}
nav{height: 0px;}
header{
    width: 100%;
height: 0px;
display: block;
position: fixed;
top:0px;
left:0px;
background-color: rgba(0, 0, 0, 0.253);
z-index: 100;
animation: header 1s 1s forwards;
transition: 1s;}

nav ol li{list-style: none;
color: aliceblue;
margin:-40px 0px 0px 50px;
font-size: 20px;
font-family: 'Montserrat', sans-serif;transition: 0.5s;
text-indent: 10px;
}
a:hover{
    transition:0.5s;
color: rgb(0, 255, 170);}
a{text-decoration: none;color:aliceblue;transition: 2s;}
h1{font-family: 'Julius Sans One', sans-serif;font-size: 40px;transition: 1s;}
h2{
    font-family: 'Dosis', sans-serif;font-size: 25px;
text-indent: 50px;
line-height: 60px;
transition: 1s;
}
#box:hover{
    transition: 1s;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0.24);
    box-shadow: inset 0px 0px 30px 5px rgb(0, 0, 0);

}
#box {
    transition: 1s;
    position: absolute;
    top:450px;
    width:280px;
    margin-left:430px;
        background: rgba(0, 0, 0, 0.178);
    color: aliceblue;
    padding:40px;
    border-radius: 999px;
    box-shadow: inset 0px 0px 30px 5px white;
    height: 280px;
    animation: bol-text 2s 2s forwards;
    z-index: 2;
}
#box h1,#box h2{
    opacity:0;
    transition: 1s;
    animation: texth 1s 4s forwards;
}
@keyframes texth {
    100%{opacity: 1;transition: 1s;}
}
@keyframes bol-text {
    80%{position: absolute;top:160px;margin-left:900px;width: 848px;border-radius: 40px;transition: 1s;height: 300px;z-index: 2;
            }
                    
            100%{position: absolute;top:160px;margin-left:900px;width: 850px;border-radius: 40px;transition: 1s;height: 280px;z-index: 2;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px}
}
@keyframes log {
    90% {position: absolute;top:75px;left: 1120px;visibility: visible;}
    100%{position: absolute;top:75px;left: 1270px;visibility: visible;}
}
.logo{
    transition: 1s;
    animation: log 1s 4.5s forwards;
}
main{background-color: aliceblue;width: 1920px
}
article ol li{color: black;opacity: 1;font-size: 25px;padding:30px 0px 30px 0px}
article ol li h2{line-height: 40px;}
#box-pluse{width: 850px;
    height: 0px;
    padding: 0px 40px 0px 40px ;
    position: absolute;
    right: 0px;
    z-index: 1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
animation:box-pluse 2s 4s forwards ;
transition: 1s;
opacity: 0;}



    @keyframes box-pluse {
        100%{width: 850px;
            height: 150px;
            padding: 40px;
            position: absolute;
            right: 0px;
            z-index: 1;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            background-color: rgba(0, 0, 0, 0.459);
        transition: 1s;
    opacity: 1;
    border-top-color: transparent;
    border-top: 0px;
    top:360px;
}
    }
    .news-1{
        font-size: 40px;
        text-align: center;
        width: 850px;
        height: auto;
        display: block;
        opacity: 0;
        animation: news 21s 5s;
        animation-iteration-count:infinite;
        position: absolute;
        top:0px;
    }
    .news-2{
        font-size: 40px;
        text-align: center;
        width: 850px;
        height: auto;
        display: block;
        opacity: 0;
        animation: news 21s 12s;
        animation-iteration-count:infinite;
        position: absolute;
        top:0px;

    }
    .news-3{
        font-size: 40px;
        text-align: center;
        width: 850px;
        height: auto;
        display: block;
        opacity: 0;
        animation: news 21s 19s;
        animation-iteration-count: infinite;
        position: absolute;
        top:0px;

    }
    @keyframes news {
        0%{opacity: 0;transition: 1s;position: absolute;top:0px;}
        5%{opacity: 1;transition: 1s;position: absolute;top:80px;color: aliceblue;}
        30%{opacity: 1;transition: 1s;position: absolute;top:80px;color: aliceblue;}
        35%{opacity: 0;transition: 1s;position: absolute;top:140px}
        100%{opacity: 0;transition: 1s;position: absolute;top:140px}
    }
    .image{width: 20px;
        margin-right: 10px;transition: 1s;}
         .image:hover{transition: 1s;transform: scale(1.8);}
    


